html{
    scroll-behavior: smooth;
}
.bg-purple{
    background-color: rgb(152, 135, 179);
    color: rgb(51, 18, 82);
}
/* main .alert{
    position: absolute;
    z-index: 999;
    left: 45%;
    top: 1; */

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 30px;
}
.mascaraPreta{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 988;
    display: none;
    background: rgba(0,0,0,0.8)
}